{% extends "base.html" %}
{% block content %}
    <h2>👑 Admin Paneli</h2>
    <h3>Kullanıcılar</h3>
    <table border="1" style="width:100%; color:white;">
        <tr>
            <th>ID</th>
            <th>Kullanıcı Adı</th>
            <th>Admin mi?</th>
            <th>İşlem</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.is_admin }}</td>
            <td>
                <button>Şifre Sıfırla</button>
                <button>Takipçi Ekle</button>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
